@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
/* font-family: 'Francois One', sans-serif; */


.francois{
    font-family: 'Francois One', sans-serif;
}




                                                    /* NAVBAR */


#main-nav{
    position:fixed;
    width: 100%;
    min-height: 60px;
    font-family: 'Francois One', sans-serif;
    background-color: rgba(0, 0, 0, 1) !important;
    box-shadow: 2px 1px 3px black;
}


.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../img/burgermenu01.png');
    background-size: cover;
    /* padding: 0px; */
}

#icon-code{
    width: 30px;
}

.navbar-brand{
    margin-left: 15px;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    border-bottom: 2px solid white;
    padding-top: 10px;
    padding-bottom: 0px;
    transition: 0.3s;
}


span.name{
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Francois One', sans-serif;
}


#navbarNav{
    padding-right: 105px;
}

@media(max-width:992px){
    .nav-link{
        text-align: center;
    }

    #navbarNav{
        padding-right: 0px;
    }
} 



                                        /* Cover */

#cover{
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 1);
    /* max-height: 500px; */
}

#main-card{
    margin: 100px auto 50px auto;
    max-width: 500px;
}

#main-card img{
    width: 150px;
    border-radius: 100%;
    margin: 10px auto;
    display: block;
}

#main-card h1{
    font-size: 2em;
}

#main-card h2{
    font-size: 1em;
}

.span-info{
    color:#63b8f8;
}

.medias{
    display: block;
    text-align: center;
}

.medias i{
    display: inline-block;
    font-size: 2em;
    margin-left: 8px;
}