@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
/* font-family: 'Francois One', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */


.francois{
    font-family: 'Francois One', sans-serif;
}




                                                    /* NAVBAR */


#main-nav{
    position:fixed;
    width: 100%;
    min-height: 60px;
    font-family: 'Francois One', sans-serif;
    background-color: rgba(0, 0, 0, 1) !important;
    box-shadow: 2px 1px 3px black;
}


.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../img/burgermenu01.png');
    background-size: cover;
    /* padding: 0px; */
}

#icon-code{
    width: 30px;
}

.navbar-brand{
    margin-left: 15px;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    border-bottom: 2px solid white;
    padding-top: 10px;
    padding-bottom: 0px;
    transition: 0.3s;
}


span.name{
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Francois One', sans-serif;
}


#navbarNav{
    padding-right: 105px;
}

@media(max-width:992px){
    .nav-link{
        text-align: center;
    }

    #navbarNav{
        padding-right: 0px;
    }
} 



                                        /* Cover */

#cover{
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 1);
    /* max-height: 500px; */
}

#main-card{
    margin: 100px auto 50px auto;
    max-width: 500px;
}

#main-card img{
    width: 150px;
    border-radius: 100%;
    margin: 10px auto;
    display: block;
}

#main-card h1{
    font-size: 2em;
}

#main-card h2{
    font-size: 1em;
}

.span-info{
    color:#63b8f8;
}

.medias{
    display: block;
    text-align: center;
}

.medias i{
    display: inline-block;
    font-size: 2em;
    margin-left: 8px;
}


                                /* Sobre mim  */


.box-content{
    text-align: justify;
    padding: 0px 100px;
}

@media(max-width:750px){
    .box-content{
        text-align: justify;
        padding: 0px 0px;
    }
}

.title{
    font-family: 'Francois One', sans-serif;
    font-weight: bolder;
    font-size: 2em;
}



.subtitle{
    margin-top: 30px;
    font-family: 'Francois One', sans-serif;
    color: #4e91c5;
}

.paragraph{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 2em;
    /* margin-bottom: 50px; */
}

                                                        /* Habilidades */
    
.tech-card{
    /* border: 2px solid black; */
    width: 50px;
    margin-right:20px;
    position: static;
}
.tech-card:hover{
    cursor: pointer;
}


.tech-title{
    margin-bottom: 5px;
    font-family: 'Francois One', sans-serif;
    font-weight: bolder;
    display: block;
    text-align: center;
}


.mini-techs{
    margin-top: 15px;
}

.mini-tech-card{
    width: 55px;
    /* border: 2px solid black; */
    display: block;
    margin-right: 5px;
}

.mini-tech-card img{
    width: 55px;
    height: 40px;
}




                                                       /* Projetos */

.card-project{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none !important;
    color: inherit;
}


@media(max-width:767px){
    .card-project{
        margin-top: 10px;
    }

    .second-line{
        margin-top: 0px !important;
    }
}

.card-project:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.6s;
}

.img-project{
    height:80px;
    margin: 0px auto;
    display: block;
}

.text-project{
    height:70px;
    padding: 20px;
    display: block;
}

.text-blue{
    color: #4e91c5;
}

.card-plus{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.card-plus:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    
}